
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Sans+Hegarty&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea , #764ba2);
    color: white;
    line-height: 1.6;
    overflow: scroll;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.1);
    position: fixed;

}
.nav-head {
    font-size: 28px;
    animation-name: flip;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    
}

.nav-link{
    display: flex;
    gap: 30px;
}

.nav-link a{
   color: white;
   text-decoration: none;
}

.sec-1{
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}
button{
    display: flex;
    justify-content: flex-end;
    background-color: bisque;

}
h1{
    font-family: 'Anton',sans-serif;
}
.highlight{
    color: pink;
}
.home-image{
    height: 300px;
    width: 345px;
    margin-left: 750px;
    border: 3px solid;
    border-radius: 30%;
    overflow: hidden;
    
}
.navbar:hover{
    color: pink;
}
@keyframes flip {
0% {background-color: plum;}
35%{background-color: coral;}
75%{background-color: aquamarine;}
100%{background-color: blueviolet;}
}
@keyframes identifier {
    25%{background-color: cornflowerblue;}
    75%{background-color:fuchsia ;}
    
}
.sec-2{
    padding: 100px 50px;
    background: rgb(255, 255, 255,0.5);

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
text-align: center;
font-size: 2.5rem;
margin-bottom: 0 auto;
}

.section-line{
  height: 4px;
  width: 100px;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 2px;
}